@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: white;
    
    background-color: black;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 7vw;
}

.first-block {
    padding: 2vw 2vw 5vw 2vw;
    height: 52vw;
    background: url(assets/main.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: black;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.h-link {
    display: flex;
    align-items: center;
    gap: 50px;    
}

.h-btn {
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 18px;
}

.losung {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

.discover {
    font-size: 50px;
    line-height: 1em;
    font-family: "Playfair Display", serif;
    text-align: center;
    color: rgb(36, 36, 36);
}

.team {
    background-color: #D2C2B2;
    padding: 10px;
    border-radius: 20px;
}

.adventure {
    color: #7E5C50;
    font-style: italic;
}

.haveyou {
    display: flex;
    align-items: end;
    justify-content: center;
}

.have {
    color: white;
    text-align: center;
}

/* MEANING */
.meaning {
    display: flex;
    flex-direction: column;
    gap: 100px;
    height: auto;
    padding: 2vw;
    color: white;
}

.m-line-1 {
    display: flex;
    gap: 20px;
    height: 100%;
    height: 28vw;
}

.travel {
    text-align: justify;
    font-size: 35px;
    font-weight: 100;
    line-height: 2em;
}

.l-foto {
    height: 100%;
    border-radius: 10px;
}

.exquisite {
    font-weight: 900;
    font-size: 40px;
}

.line-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.m-line-2 {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    height: 100%;
    height: 32vw;
}

.l-foto-2 {
    height: 100%;
    border-radius: 10px;
}

/* CATALOG */
.s-name {
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 50px;
}

.p-turs {
    color: #D2C2B2;
    font-style: italic;
}

.catalog {
    background: url(assets/primer.jpg) center center no-repeat;
    background-size: cover;
    height: 50vw;
    width: 100%;
    border-radius: 30px;
    padding: 2vw 2vw 1vw 2vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
}

.pop-turs {
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    color: white;

    border-bottom: 2px solid #D2C2B2;
}

.name-and-price-tour {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-tour {
    display: flex;
    align-items: center;
    gap: 20px;
}

.time-price {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}

.name-tour {
    font-size: 80px;
    font-weight: 700;
}

.number-site {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.number {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: rgb(129, 129, 129);
}

#num3 {
    background-color: white;
}

.more-tours {
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 35px;

    font-size: 30px;
    font-weight: 500;

    background-color: #D2C2B2;
}

/* WHY US? */
.why-us {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 50px;

    border-bottom: 2px solid #D2C2B2;
}

.w-name {
    font-family: "Playfair Display", serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.pluses {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.examples {
    display: flex;
    align-items: center;
    gap: 30px;

    font-size: 35px;
    font-weight: 600;
}

/* About us */
.about-us {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 50px;

    border-bottom: 2px solid #D2C2B2;
}

.a-name {
    display: flex;
    justify-content: center;
    font-family: "Playfair Display", serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.abouts {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 45px;
}

.a-text {
    font-size: 38px;
    font-weight: 350;
    line-height: 1.5em;
}